<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Jason Young" />
        I'm <b>Jason Young</b>, software engineer. This blog contains my opinions, of which my employer - Microsoft - may not share.
    </p>
    <p>
        <a href="http://twitter.com/ytechie">@ytechie</a> &#8226;
        <a href="https://github.com/ytechie">GitHub</a> &#8226;
        <a href="http://www.linkedin.com/in/jasony/">LinkedIn</a> &#8226;
        <a href="http://stackoverflow.com/users/23837/jason-young">Stack Overflow</a> &#8226;
        <a href="https://www.youtube.com/channel/UCzteYOG3Fq6iP_MPqy222mA">Personal VLOG</a>
    </p>
</div>
