<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Jason Young" />
        I'm <b>Jason Young</b>, software developer at heart, technical evangelist for Microsoft by day. This blog contains my opinions, of which my employer may not share.
    </p>
    <p>
        <a href="http://twitter.com/ytechie">@ytechie</a> &#8226;
        <a href="https://github.com/ytechie">GitHub</a> &#8226;
        <a href="http://www.linkedin.com/in/jasony/">LinkedIn</a> &#8226;
        <a href="http://stackoverflow.com/users/23837/jason-young">Stack Overflow</a>
    </p>
</div>
