<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.xml" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Redirect to WWW" stopProcessing="true"> 
                    <match url=".*" /> 
                        <conditions> 
                            <add input="{HTTP_HOST}" pattern="^ytechie.com$" /> 
                        </conditions> 
                    <action type="Redirect" url="http://www.ytechie.com/{R:0}" redirectType="Permanent" /> 
                </rule>
                <rule name="OldHtmlUrls" stopProcessing="true">
                    <match url="(.+)\.html$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
                <rule name="OldYearMonthCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/([0-1]{1}[1-9]{1})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                <rule name="OldYearCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                <rule name="CanonicalFeed" stopProcessing="true">
                    <match url="^(feed.xml)|(rss)|(rss.xml)|(atom.xml)|(feed/atom)|(feed/rss2)$" />
                    <action type="Redirect" url="/feed/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToSSHPost" stopProcessing="true">
                    <match url="^set-up-a-windows-ssh-tunnel-in-10-minutes-or-less/$" />
                    <action type="Redirect" url="/2008/05/set-up-a-windows-ssh-tunnel-in-10-minutes-or-less/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToSSHPost2" stopProcessing="true">
                    <match url="^2008/04/i-switched-from-linux-to-windows-server/$" />
                    <action type="Redirect" url="/2008/04/i-switched-from-linux-to-windows-server-2008/" appendQueryString="false" />
                </rule>
                <rule name="OldFeedLinks" stopProcessing="true">
                    <match url="^(.+).html/(feed|trackback)$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
